@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

.txtdroid{
	font-family: 'Droid Sans', Arial, serif; font-weight: 400;
}
.txtdroidbold{
	font-family: 'Droid Sans', Arial, serif; font-weight: 700;
}

body{
	font-family: 'Droid Sans', Arial, serif; font-weight: 400;
	width:100%;
	height:100%;
	color:#ffffff;
	text-align: center;
}

a,a:visited{
	color:#0099CC;
	text-decoration: none;
	font-size: 17px;
}

h1 {
	font-family: 'Droid Sans', Arial, serif; font-weight: 700;
}

h2 {
	font-family: 'Droid Sans', Arial, serif; font-weight: 400;
	font-size: 27px;
}

.page{
	position:absolute;
	width:100%;
}

.blueBtn{
	width: 164px;
	height:40px;
	background-color: #0099cc;

	margin-left:auto;
	margin-right:auto;

	font-family: 'Droid Sans', Arial, serif; font-weight: 700;
	font-size: 21px;
	line-height: 42px;

	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    cursor:pointer;
}

.blueBtn:hover{
	background-color: #00BBEE;
}

.circleBtnOK{
	width:48px;
	height:48px;
	background-image: url('../assets/img/btnok.png');
	margin: 0px auto;

	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    cursor:pointer;
}

.circleBtnClose{
	width:48px;
	height:68px;
	background-image: url('../assets/img/btnclose.png');
	margin: 0px auto;

	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    cursor:pointer;
}

/*
INTRO BG
*/
#intro{
	position:absolute;
	background-image: url('../assets/img/intro.jpg');
	background-size: cover;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
}

/*
BEGIN PAGE
*/
#beginPage{
	/*display:none;*/
	position:absolute;
	top: 40%;
}

#beginPage .titleText{
	font-family: 'Droid Sans', Arial, serif; font-weight: 700;

	margin: 0px auto;

	width:736px;
	height:84px;
	line-height:15px;
	background-color: #ffffff;
	color: #2e2e2b;
	font-size: 64px;
	line-height: 86px;
	
}

#beginPage .blueBtn{
	margin-top: 90px;
}


/*
ENTER PAGE
*/
#enterPage{
	display:none;
	position:absolute;
	top: 40%;
}
#enterPage .txt1{
	font-family: 'Droid Sans', Arial, serif; font-weight: 400;
	margin: 0px auto;
	width:100%;
	line-height:15px;
	font-size: 19px;
	line-height: 86px;
}
#enterPage .txt2{
	font-family: 'Droid Sans', Arial, serif; font-weight: 400;
	margin: 0px auto;
	width:100%;
	line-height: 6px;
	font-size: 56px;
}
#enterPage .blueBtn{
	margin-top: 135px;
}

/*
COUNTER
*/
#counter{
	/*display:none;*/
	position:absolute;
	width:100%;
	top: 35px;
}

.counter .label{
	font-family: Georgia, serif;
	font-size: 20px;
	padding-bottom: 10px;
}

.counter .time{
	font-family: 'Droid Sans', Arial, serif; font-weight: 400;
	font-size: 19px;
}

/*
SCENE LABELS
*/
.sceneLabel{
	display:none;
	position:absolute;
	top: 65%;
	width:100%;
}
.sceneLabel .txt1{
	font-family: 'Droid Sans', Arial, serif; font-weight: 400;
	margin: 0px auto;
	width:100%;
	line-height:15px;
	font-size: 33px;
}

.sceneLabel .txt2{
	font-family: 'Droid Sans', Arial, serif; font-weight: 400;
	margin: 0px auto;
	width:100%;
	line-height: 60px;
	font-size: 17px;
}

/*
CAUGHT SCREENS
*/
.caughtScreen{
	display:none;
	position:absolute;
	width:100%;
	height: 100%;
	background-color: #000000;
}

.caughtScreenContainer{
	position:absolute;
	width:100%;
	height: 412px;
	margin-top: -206px;
	top:50%;
	background-color: #000000;
}

.caughtScreen h2{
	font-family: 'Droid Sans', Arial, serif; font-weight: 700;
	font-size: 40px;
	color:#FF0000;
	margin: 0px auto;
	padding-bottom: 15px;
}

.caughtScreen p{
	display: block;
	font-size: 17px;
	width:581px;
	margin: 0px auto;
	padding-bottom: 10px;
}

.caughtScreen .txt1{
	font-family: 'Droid Sans', Arial, serif; font-weight: 400;
	margin: 0px auto;
	width:100%;
	height:190px;
	font-size: 33px;
}
.caughtScreen .divider{
	width:693px;
	margin: 0px auto;
	height: 1px;
	overflow: visible;
}

.caughtScreen .divider img{
	margin: -80px 0px 0px -480px;
}

.caughtScreen .txt2{
	font-family: 'Droid Sans', Arial, serif; font-weight: 400;
	margin: 0px auto;
	width:100%;
	font-size: 17px;
	padding-top: 39px;
	padding-bottom: 20px;
}

/*
ITEM SCREENS
*/

.itemScreen{
	display:none;
	position:absolute;
	width:100%;
	height: 100%;
	background-color: #000000;
}

.itemScreenContainer{
	position:absolute;
	width:770px;
	height: 347px;
	margin-top: -206px;
	margin-left: -385px;
	top:50%;
	left:50%;
	background-color: #000000;
}

.itemScreen .txt1{
	float:left;
}

.itemScreen .txt2{
	text-align: left;
	float:left;
	padding-left:30px;
	width:440px;
}

.itemScreen h2{
	font-family: 'Droid Sans', Arial, serif; font-weight: 700;
	color:#0099CC;
	font-size: 22px;
	margin-top:0px;
}

.itemScreen .txt2 h1{
	font-family: 'Droid Sans', Arial, serif; font-weight: 400;
	font-size: 33px;
}

.itemScreen .txt2 p{
	font-size: 19px;
}

.itemScreen .circleBtnClose{
	position: absolute;
	top:-45px;
	right:0;
}

